<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gralievskyi-cv</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/static/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Gralievskyi -cv</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Skills</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About me</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="/img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">Oleksandr Gralievskyi</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0"> Junior Java Developer</h2>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Skills</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <h3 class="text-secondary text-uppercase mb-0 text-center mb-3">Education</h3>
              <img class="img-fluid" src="/img/submarine.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <h3 class="text-secondary text-uppercase mb-0 text-center mb-3">Experience</h3>
              <img class="img-fluid" src="/img/safe.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <h3 class="text-secondary text-uppercase mb-0 text-center mb-3">Technologies</h3>
              <img class="img-fluid" src="/img/game.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">About me</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">While my friends watched YouTube and played World of tanks I took a practice in programming so begin to create my own applications. They are not sophisticated but it is only beginning. I prefer reading Thinking in Java by Eckel and  Java complete reference by Schildt instead of watching news in Facebook. I have reached the level of the Jedi in Google search and become confident that I can find any necessary information.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">I choose reading technical documentation in English because there is no other way to understand perfectly most programing technologies. Maybe my baggage of skills is not big but I am sure that it will grow at a higher rate because this activity is exciting to me. I am disciplined and purposeful because self-education without these character traits is not possible.</p>
          </div>
        </div>
      </div>
      </div>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="/documents/gralievskyi_resume.pdf">
            <i class="fas fa-download mr-2"></i>
            Download resume
          </a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <hr class="star-dark mb-5">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4 text-center">Address</h4>
            <p class="lead mb-0 text-center">Boryspilska, 3-B, 26
              <br class="text-center">Kyiv, 02099</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-3 text-center">Email</h4>
            <p class="lead mb-0 text-center">ogralievskyi@gmail.com</p>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-3 text-center">Telephone</h4>
            <p class="lead mb-4 text-center">+38 (098) 714-81-13</p>
          </div>
        </div>
      </div>
    </section>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>&copy;2019 All rights reserved</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0 text-center">Education</h2>
              <hr class="star-dark mb-5">
              <h3 class="mb-3"><strong>Diplomas</strong></h3>
              <ul>
                <li>Master of Law (2011)</li>
                <li>Bachelor of Finance and Credit (2014)</li>
                <li>Harvard University <a href="https://courses.edx.org/certificates/59a2eeb6bd9d4aac97eb76c351ef5edb">course CS50</a> Introduction to Computer Science (2019)</li>
              </ul>
              <h3 class="mb-3"><strong>Self education</strong></h3>
              <h6 class="mb-2">books:</h6>
              <ul>
                <li>"Code: The Hidden Language of Computer Hardware and Software" Charles Petzold</li>
                <li>1-st part of "The coplete reference Java 8th edition" Herbert Schildt</li>
                <li>in progress "Clean Code" Robert C. Martin</li>
                <li>in progress "Thinking in Java" Eckel</li>
              </ul>
              <h6 class="mb=2"><strong>English:</strong></h6>
              <ul>
                <li>intermediate</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0 text-center">Experience</h2>
              <hr class="star-dark mb-5">
              <p class="mb-4">During <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x">CS50 course </a>complete 14 own programs on C, 5 own programs on Python and modify 2 websites on Python using SQLight, httprequests and Google Maps Javascript API.</p>
              <p class="mb-4">Create my website <a href="http://bininfo.us-east-2.elasticbeanstalk.com">BIN info</a> which work on Java servlets and javascript. Using this site you can receive information about bank card after submiting the first digits of it.</p>
              <p class="mb-4">This cv website is created by myself with use of Spring MVC and Bootstrap.</p>
              <p class="mb-4">My <a href=https://github.com/Gralevskyi>repositories.</a></p>
              <p class="mb-4">Have several years of experiance in jurisprudence and banking.</p>
              <p>During last three years engage in electronic banking services (e-commerce and POS acquiring)  in Head office of a big European bank. Took part on the custom side in two projects of implementation new software modules for bank customer registration and cash settlements.</p>
              <p>One of my duty is to make changes in and analyze large amounts of data.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0 text-center">Technologies</h2>
              <hr class="star-dark mb-5">
              <p class="mb-3"><strong>Programing languages:</strong></p>
              <ul>
                <li>Java Core</li>
                <li>JavaScript</li>
                <li>SQL</li>
              </ul>
              <p class="mb-4"><strong>Frameworks:</strong></p>
              <ul>
                <li>Spring MVC</li>
                <li>Bootstrap</li>
              </ul>
              <p class="mb-4"></p><strong>Technologies:</strong></p>
              <ul>
                <li>Freemarker</li>
                <li>Maven</li>
                <li>jQuery</li>
                <li>Google Maps Javascript API</li>
                <li>AWS Elastic Beanstalk</li>
                <li>Heroku</li>
                <li>Microsoft Access</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/freelancer.min.js"></script>

  </body>

</html>
